.mediawrapper_block {
  display: inline;
  float: left;
}

span.mediawrapper {
  display: inline-block;
  position: relative;
}

.mediawrapper .playicon {
  margin-left: 45px;
  left: 0px;
  position: absolute;
}
